.maindiv{
    border: 1px solid red;
    height: 200px;
    width: 400px;
    margin: auto;
    margin-top: 16%;
    background-color: teal;
}
body{
    background-color: black;
}
button{
    margin-left: 10px;
    border-radius: 20px;
    color: brown;
    background-color: burlywood;
}
h1{
    color: darkred;
}